* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #21222a;
  height: 15vh;
  width: 100%;
  padding: 0px 10px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 120px;
  height: 110px;
  padding: 10px;
}

.logo h1 {
  color: #61d4fb;
  font-size: 3rem;
}

.navbar {
  display: flex;
  list-style: none;
  width: 450px;
  text-align: center;
}

.navbar li {
  position: relative;
  margin-right: 20px;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.navbar li:hover {
  border-bottom: 0.5px #fff solid;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 85vh;
  background-color: #282d35;
  background-image: url(/src/images/react.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.main .container {
  background-color: #21222a;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 42rem;
  width: 60rem;
  padding: 25px 40px;
}

.main .container h1 {
  padding: 20px;
  font-size: 4.8rem;
  color: #61d4fb;
  letter-spacing: -0.001em;
}

.main .container ul {
  text-align: left;
}

.container ul li::marker {
  color: #61d4fb;
  font-size: 3rem;
}

.main .container ul li {
  margin: 35px 15px;
  font-size: 2.5rem;
  color: #fff;
}
